{% extends "base.html" %}

<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>deep</title>
    {% block css %}
      {{ block.super }}
      <link rel="stylesheet" href="{% static 'styles.css' %}" />
    {% endblock css %}
    {% block javascript %}
      {{ blocksuper }}
      <script type="text/javascript" src="{%  static 'js/htmx.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
      <script src="{% static 'js/jquery-ui.min.js' %}"></script>
      <script src="{% static "jqui-htmx.js" %}"></script>
      <script src="{% static "richtexteditor.js" %}"></script>
    {% endblock javascript %}
    {% block custom_js %}
      {{ block.super }}
    {% endblock custom_js %}
  </head>
  <body>
    {% block content %}
      {{ blocksuper }}
    {% endblock content %}
  </body>
</html>
