{% extends "base.html" %}

<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>lobaio</title>
    {% block javascript %}
      {{ blocksuper }}
      <script type="text/javascript" src="{%  static 'js/htmx.min.js' %}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
      <script src="{% static "jqui-htmx.js" %}"></script>
    {% endblock javascript %}
    {% block custom_js %}
      {{ blocksuper }}
    {% endblock custom_js %}
  </head>
  <body>
    {% block content %}
      {{ blocksuper }}
    {% endblock content %}
  </body>
</html>
