<span id="{{ location.content.id_for_html_element }}"
      hx-get="{{ location.url_for_get }}"
      hx-trigger="click[altKey]"
      hx-swap="outerHTML">
  {{ location.content.content }}
  <span id="controls-{{ location.id }}">
    {% include 'prototype/common/add_child.html' %}
    {% include 'prototype/common/add_sibling.html' %}
    {% include 'prototype/common/delete_element_button.html' %}
    {% if help or db %}
      {% include 'prototype/common/hide_help.html' %}
    {% else %}
      {% include 'prototype/common/help_button.html' %}
      {% include 'prototype/common/debug_detail.html' %}
    {% endif %}
  </span>
</span>
