<div id="cont-struct{{ structure.id }}">
  <div id="page_anchor{{ page_anchor.id }}">
    {% if id %}<div>{{ page_anchor.id }}</div>{% endif %}
    {% if page_anchor.content_object %}
      {% include structure.default_template %}
    {% endif %}
    {% if location.get_children %}
      <div id="pagepart-{{ page_anchor.id }}">
        {% for newnode in page_anchor.get_children %}
          {% with page_anchor=newnode rootnode=False %}
            {% include 'prototype/tree.html' %}
          {% endwith %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
