{% extends 'prototype/base.html' %}

{% load static %}

{% block custom_js %}
{% endblock custom_js %}
{% block content %}
  {% block components %}
    <div id="all_roots">
      <ol id="all_{{ location_list.model.name }}s"
          class="ui-widget"
          data-jqui="sortable"
          data-jqui-opts="option cancel span">
        {% for location in location_list %}
          {% with content_object=location.content_object %}
            {% include 'prototype/tree_ol.html' %}
          {% endwith %}
        {% endfor %}
      </ol>
    </div>
    Add a tree
    {% include 'prototype/common/add_root.html' %}
  {% endblock components %}
{% endblock content %}
