{% extends 'prototype/base.html' %}

{% load static %}

{% block custom_js %}
{% endblock custom_js %}
{% block content %}
  {% block components %}
    <div id="all_roots"  class="ui-widget-content">
      <ul>
        {% for location in location_list %}
          {% with content_object=location.content_object %}
            {% include 'prototype/tree.html' %}
          {% endwith %}
        {% endfor %}
      </ul>
    </div>
    Add a tree
    {% include 'prototype/common/add_root.html' %}
  {% endblock components %}
{% endblock content %}
