<div id="{{ location.id_for_html_element }}"
     class="ui-widget"
     data-jqui="draggable"
     data-jqui-opts="option cancel .richtextbox">
  <li>
    {% with content_object=location.content_object %}
      {% if location.content_type.model == "plaintext" %}
        {% include 'prototype/plaintext/content_display.html' %}
      {% elif location.content_type.model == "richtext" %}
        {% include 'prototype/richtext/content_display.html' %}
      {% endif %}
    {% endwith %}
    {% if db %}
      <p>
        <small>{{ location.id }}</small>
      </p>
    {% endif %}
    {% if help %}
      <p>
        <small>{{ help }}</small>
      </p>
    {% endif %}
    {% include 'prototype/common/control-group.html' %}
  </li>
  {% if location.get_children.exists %}
    <ul id="ul-{{ location.id }}">
      {% for newnode in location.get_children %}
        {% with location=newnode content_object=newnode.content_object %}
          {% include 'prototype/tree.html' %}
        {% endwith %}
      {% endfor %}
    </ul>
  {% endif %}
</div>
